# Secrets and keys
.password
*.key
boot.key
bnode/boot.key
info.txt

# Blockchain node data (recreate with init-nodes.sh) – do not commit
node1/
node2/
node3/
bnode/
**/password.txt
**/jwtsecret
**/nodekey
**/eth.chainId
